<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>File Upload</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<h1 class="text-center">Importar Transacoes</h1>
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<form method="post" th:action="@{/}"
						enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" name="file" class="form-control-file">
						</div>
						<button type="submit" class="btn btn-primary">Upload File</button>
					</form>
				</div>
			</div>
			<br>
			<div class="container">
				<h1 class="text-center">Importacoes Realizadas</h1>
				<table class="table table-striped">
					<tr>
						<th scope="col">Data Transacoes</th>
						<th scope="col">Data Importacao</th>
					</tr>
					<th:block th:each="f : ${fileList}">
						<tr>
							<td class="align-middle" th:text="${f.fileName}"></td>
							<td class="align-middle" th:text="${#dates.format(f.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
						</tr>
					</th:block>
				</table>
			</div>
		</div>
	</section>
</body>
</html>